<a href="https://colab.research.google.com/github/Hena-123/095_HenaPatel/blob/main/lab3_NB_Classifier_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB, MultinomialNB
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [36]:
data = pd.read_csv('Dataset2.csv')

In [37]:
feature_names = np.array(data.columns[:-1])
print(feature_names)
print(type(feature_names))
target_names = np.array(data.columns[-1:])
print(target_names)

['Outlook' 'Temp' 'Wind' 'Humidity']
<class 'numpy.ndarray'>
['Class']

In [38]:
data

   Outlook Temp Wind Humidity Class
0        R    H    F   Normal     N
1        R    H    T     High     N
2        O    H    F   Normal     Y
3        S    M    F   Normal     N
4        S    M    F   Normal     Y
5        S    M    T      Low     Y
6        O    C    T   Normal     Y
7        R    C    F   Normal     Y
8        R    C    F      Low     Y
9        S    M    F     High     Y
10       R    M    T     High     Y
11       O    M    T      Low     Y
12       O    H    F   Normal     Y
13       S    M    T   Normal     N

In [39]:
columns = {
    'Outlook':['Overcast','Rainy','Sunny'],
    'Temp': ['Cool','Hot','Mild'],
    'Wind': ['False','True'],
    'Humidity': ['High','Low','Normal']
}
for data_heading in data:
  if data_heading!="Class":
    
    ohe = preprocessing.OneHotEncoder()
    feature = data[[data_heading]]
    encoded = ohe.fit_transform(feature)
    # Output will be of type <class 'scipy.sparse.csr.csr_matrix'>
    encoded = encoded.toarray()
    # Output will be of type <class 'numpy.ndarray'>
    encoded=pd.DataFrame(encoded)
    # Output will be of type <class 'pandas.core.frame.DataFrame'>
    encoded.columns=columns[data_heading]
    data = data.drop(data_heading,axis=1)
    data = pd.concat([data,encoded],axis=1)

    #------------ OR ------------
    #outlook_encoded = pd.get_dummies(data['Outlook'])
    #outlook_encoded.columns=['Overcast','Rainy','Sunny']
    #print("Outlook:\n" ,outlook_encoded)
    #print(type(outlook_encoded))

  else:
    le = preprocessing.LabelEncoder()
    target = le.fit_transform(data[data_heading])
    data = data.drop([data_heading],axis=1)

In [40]:
feature_names = np.array(data.columns[0:])
print(feature_names)
print(type(feature_names))

['Overcast' 'Rainy' 'Sunny' 'Cool' 'Hot' 'Mild' 'False' 'True' 'High'
 'Low' 'Normal']
<class 'numpy.ndarray'>

In [41]:
print(data.shape)
print(target.shape)

(14, 11)
(14,)

In [42]:
data

    Overcast  Rainy  Sunny  Cool  Hot  Mild  False  True  High  Low  Normal
0        0.0    1.0    0.0   0.0  1.0   0.0    1.0   0.0   0.0  0.0     1.0
1        0.0    1.0    0.0   0.0  1.0   0.0    0.0   1.0   1.0  0.0     0.0
2        1.0    0.0    0.0   0.0  1.0   0.0    1.0   0.0   0.0  0.0     1.0
3        0.0    0.0    1.0   0.0  0.0   1.0    1.0   0.0   0.0  0.0     1.0
4        0.0    0.0    1.0   0.0  0.0   1.0    1.0   0.0   0.0  0.0     1.0
5        0.0    0.0    1.0   0.0  0.0   1.0    0.0   1.0   0.0  1.0     0.0
6        1.0    0.0    0.0   1.0  0.0   0.0    0.0   1.0   0.0  0.0     1.0
7        0.0    1.0    0.0   1.0  0.0   0.0    1.0   0.0   0.0  0.0     1.0
8        0.0    1.0    0.0   1.0  0.0   0.0    1.0   0.0   0.0  1.0     0.0
9        0.0    0.0    1.0   0.0  0.0   1.0    1.0   0.0   1.0  0.0     0.0
10       0.0    1.0    0.0   0.0  0.0   1.0    0.0   1.0   1.0  0.0     0.0
11       1.0    0.0    0.0   0.0  0.0   1.0    0.0   1.0   0.0  1.0     0.0
12       1.0    0.0    0.0   0.0  1.0   0.0    1.0   0.0   0.0  0.0     1.0
13       0.0    0.0    1.0   0.0  0.0   1.0    0.0   1.0   0.0  0.0     1.0

In [52]:
#split data set into train and test sets
data_train, data_test, target_train, target_test = train_test_split(data, target, test_size = 0.25, random_state = 96)

In [53]:
print(data_train.shape)
print(data_test.shape)
print(target_train.shape)
print(target_test.shape)

(10, 11)
(4, 11)
(10,)
(4,)

In [54]:
gnb = GaussianNB()
# Train the model
gnb.fit(data_train, target_train)
target_pred = gnb.predict(data_test)

print("Accuracy:\n",metrics.accuracy_score(target_test, target_pred))

confusion_matrix(target_test, target_pred)
precision = precision_score(target_test, target_pred, average=None)
recall = recall_score(target_test, target_pred, average=None)

print(f"precision :- {precision}")
print(f"recall :- {recall}")

Accuracy:
 1.0
precision :- [1. 1.]
recall :- [1. 1.]

In [55]:
print(target_pred)
print(target_test)

[1 0 1 1]
[1 0 1 1]

Here this indicates that our model is fully trained.

**Questions: For Task - 1**

(1) What will be the value of Play, if Outlook is ’Rainy’, Temperature is ’Mild’, Humidity =’Normal’, and Wind = ’False’?

(2) What will be the value of Play, if Outlook is ’Sunny’, Temeprature is ’Cool’, Humidity =’High’, and Wind = ’True’?

(3) Accuracy , precision and recall of both Models?

Here Features are ['Overcast' 'Rainy' 'Sunny' 'Cool' 'Hot' 'Mild' 'False' 'True' 'High'
 'Low' 'Normal']

In [56]:
# Question-1
# Outlook is ’Rainy’, Temperature is ’Mild’, Wind = ’False’ and Humidity =’Normal’
output = gnb.predict([[0,1,0, 0,0,1  ,1,0 ,0,0,1]])
print(f"(1) Prediction :- {output}")

# Question-2
# Outlook is ’Sunny’, Temeprature is ’Cool’, Humidity =’High’, and Wind = ’True’
output = gnb.predict([[0,0,1, 1,0,0  ,0,1 ,1,0,0]])
print(f"(2) Prediction :- {output}")

(1) Prediction :- [0]
(2) Prediction :- [1]